*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:
linear-gradient(
135deg,
#0f172a,
#111827
);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:
Arial;

color:white;

}

.card{

width:360px;

padding:35px;

border-radius:25px;

background:

rgba(
255,
255,
255,
0.05
);

backdrop-filter:
blur(
20px
);

text-align:center;

}

h1{

margin-bottom:10px;

}

.desc{

opacity:.7;

margin-bottom:20px;

}

.progress{

height:20px;

background:#222;

border-radius:50px;

overflow:hidden;

}

.bar{

height:100%;

width:0%;

transition:1s;

background:

linear-gradient(
90deg,
#00ff88,
#00d9ff
);

}

#info{

margin:18px;

}

input{

width:100%;

padding:15px;

border:none;

border-radius:12px;

margin-bottom:15px;

}

button{

width:100%;

padding:15px;

border:none;

border-radius:12px;

font-size:16px;

cursor:pointer;

background:

linear-gradient(
90deg,
#00ff88,
#00d9ff
);

}

#msg{

margin-top:20px;

color:#00ff88;

}
